body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    margin-bottom: 20px;
}

.photos {
    display:inline-block;
}

img {
    width:350px;
    margin-left:30px;
    margin-right:30px;
}